{{ template "header" . }}
<h1>List of tasks</h1>
<form action="/list" method="GET">
  <input type="text" name="kw" value="{{ .Kw }}" />
  <input type="checkbox" name="is_done" value="{{ .IsDone }}" /><label>完了</label>
  <input type="checkbox" name="isnot_done" value="{{ .IsNotDone }}" /><label>未完了</label>
  <input type="submit" value="検索" />
</form>
<p><a href="/task/new">新規登録</a></p>
{{ if not .Tasks }}
<p>登録データがありません．</p>
{{ else }}
<table>
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>登録日</th>
    <th>状態</th>
  </tr>
  {{ range $task := .Tasks }}
  <tr>
    <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
    <td>{{ $task.Title }}</td>
    <td>{{ $task.CreatedAt }}</td>
    <td>{{ if $task.IsDone }}済{{ end }}</td>
  </tr>
  {{ end }}
</table>
{{ end }} {{ template "footer" }}
