{{ template "header" . }}
<h1>User {{ .User.Name }} パスワードの編集</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font><p>
{{ end }}
<form action="/user/edit/password" method="POST"  onsubmit = "return confirm_user_update({{ .User.Name }})">
    <label>以前のパスワード: </label><input class="input" type="text" name="oldpassword" required><br>
    <label>新しいパスワード: </label><input class="input" type="text" name="password" required><br>
    <label>パスワード(確認用): </label><input class="input" type="text" name="passwordForConfirm" required><br>
    ※パスワードは8文字以上、半角英字と半角英字を少なくとも一文字ずつ含む必要があります。<br>
    <input class="btn" type="submit" value="登録">
</form>
<div class="inner">
    <a href="/"><button class = "btn" type="button">トップページへ戻る</button></a>
</div>
{{ template "footer" }}