{{ template "header" . }}
<h1>User {{ .User.Name }} の編集</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font><p>
{{ end }}
<form action="/user/edit/name" method="POST"  onsubmit = "return confirm_user_update({{ .User.Name }})">
    <label>新しいユーザ名: </label><input class="input" type="text" name="username" value="{{ .User.Name }}"required><br>
    <label>以前のパスワード: </label><input class="input" type="text" name="password" required><br>
    <input class="btn" type="submit" value="登録">
</form>
<div class="inner">
    <a href="/"><button class = "btn" type="button">トップページへ戻る</button></a>
</div>
{{ template "footer" }}