{{ template "header" . }}
<h1>ユーザ登録</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font><p>
{{ end }}
<form action="/user/new" method="POST">
    <label>ユーザ名: </label><input type="text" name="username" value="{{ .Username }}"required><br>
    <label>パスワード: </label><input type="text" name="password" value="{{ .Password }}" required><br>
    <label>パスワード(確認用): </label><input type="text" name="passwordForConfirm" value="{{ .PasswordpasswordForConfirm }}" required><br>
    パスワードは8文字以上、半角英字と半角英字を少なくとも一文字ずつ含む必要があります。<br>
    <input type="submit" value="登録">
</form>
{{ template "footer" }}