{{ template "header" . }}

<h1>List of tasks</h1>
<form action="/list" method="GET">
  <input type="text" class="input" name="kw" value="{{ .Kw }}" placeholder="検索用語を記述してください" />

  <select name="is_done_status" id="is_done_select">
    <option value="all" {{ if eq .Value "all" }} selected {{ end }}>全件表示</option>
    <option value="t" {{ if eq .Value "t" }} selected {{ end }}>完了タスクのみ</option>
    <option value="f" {{ if eq .Value "f" }} selected {{ end }}>未完了タスクのみ</option>
  </select>
  <input type="submit" value="検索" class="btn" />
</form>
<div class="inner">
  <a href="/task/new"><button class="btn" type="button">新規登録</button></a>
  <button class="btn" type="button" onclick="confirm_userdelete()">アカウント削除</button>
  <a href="/"><button class="btn" type="button">トップページへ戻る</button></a>
  <a href="/logout"><button class="btn" type="button">ログアウト</button></a>
</div>
<br>
{{ if not .Tasks }}
<p>登録データがありません．</p>
{{ else }}
<div id="users">
  <table border="1">
    <thead>
      <tr>
        <th class="sort" data-sort="id" style="width:50px;">ID</th>
        <th class="sort" data-sort="title">タイトル</th>
        <th class="sort" data-sort="date">登録日</th>
        <th class="sort" data-sort="condition" style="width:50px;">状態</th>
        <th class="sort" data-sort="priority" style="width:80px;">優先度</th>
        <th class="sort" data-sort="deadline">締め切り</th>
      </tr>
    </thead>
    <!-- IMPORTANT, class="list" have to be at tbody -->
    <tbody class="list">
      {{ range $task := .Tasks }}
      <tr>
        <td class="id"  style="width:50px;"><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
        <td class="priority-{{$task.Priority }}">{{ $task.Title }}</td>
        <td class="date">{{ $task.CreatedAt }}</td>
        <td class="condition" style="width:50px;">{{ if $task.IsDone }}済{{ end }}</td>
        <td class="priority-{{$task.Priority }}" style="width:80px;">{{ $task.Priority }}</td>
        <td class="deadline">{{ $task.Deadline }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  <!-- wrap list.js pagination by div.pager for using pager sample css -->
  <div class="pager">
    <ul class="pagination"></ul>
  </div>
</div>
{{ end }} {{ template "footer" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
  var options = {
    valueNames: ["id", "title", "date", "condition", "priority", "deadline"],
    page: 3,
    pagination: {
      paginationClass: "pagination",
      innerWindow: 1,
      outerWindow: 1,
    },
  };
  var userList = new List("users", options);

  userList.on("sortStart", function (a) {
    console.log(a.i);
    a.i = 1;
  });

  //for initial sort
  userList.sort("id", { order: "asc" });
</script>
