{{ template "header" . }}
<h1>Task: {{ .Title }}</h1>
<dl>
  <dt>ID</dt>
  <dd>{{ .ID }}</dd>
  <dt>Created at</dt>
  <dd>{{ .CreatedAt }}</dd>
  <dt>Status</dt>
  <dd><input type="checkbox" {{ if .IsDone }}checked {{ end }}disabled />済</dd>
  <dt>description</dt>
  <dd>{{ .Description }}</dd>
  <dt>priority</dt>
  <dd>{{ .Priority }}</dd>
  <dt>deadline</dt>
  <dd>{{ .Deadline }}</dd>
</dl>

<div class="inner">
  <a href="/list"><button class= "btn" type="button">リストへ戻る</button></a>
  <a href="/task/edit/{{ .ID }}"><button  class= "btn" type="button">編集</button></a>
  <a href="/task/share/{{ .ID }}"><button  class= "btn" type="button">共有</button></a>
  <a href="/task/share/delete/{{ .ID }}"><button  class= "btn" type="button">共有の停止</button></a>
  <button  class= "btn" type="button" onclick="confirm_delete({{ .ID }})">削除</button>
  <a href="/logout"><button  class= "btn" type="button">ログアウト</button></a>
  <!-- <p><a href="/logout">ログアウト</a></p> -->
</div>

{{ template "footer" }}
