style for sort .sort.desc:after {
  content: "▼";
}
.sort.asc:after {
  content: "▲";
}
/* style for pager and pagination from http://wwx.jp/css-pagination  */

.pager {
  overflow: hidden;
}

.pager ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}

.pager ul li {
  margin: 0 1px;
  position: relative;
  left: -50%;
  float: left;
}

.pager ul li span,
.pager ul li a {
  display: block;
  font-size: 16px;
  padding: 0.6em 1em;
  border-radius: 3px;
}

.pager ul li a {
  background: #eee;
  color: #000;
  text-decoration: none;
}

.pager ul li a:hover {
  background: #333;
  color: #fff;
}

/* added by myself */
.pager ul li.active {
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  /* ボックスの大きさを算出 */
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5f5;
  color: #444;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 10;
}

.btn {
  background-color: #3498db;
  color: #fff;
  /* 枠線なし */
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  /* 親要素からフォントを軽症 */
  font-family: inherit;
  padding: 5px 15px;
  margin: 3px;
  font-size: 12px;
  /* display: flex;
  display: inline-block;*/
}

.btn:active {
  /* ボタンを押下したときに
    ちょっとサイズを小さくすることで
    押した感を出す */
  transform: scale(0.98);
}

.btn:focus {
  /* ボタンを押したときに青いアウトラインが
    出るのを防ぐ */
  outline: 0;
}

textarea {
  /* 枠線を消す */
  /* border: none; */
  /* block要素にする */
  /* display: block; */
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  /* 上 左右 下 */
  margin: 0 0 20px;
  font-size: 16px;
}

.input {
  /* border: none; */
  color: #444;
  font-size: 16px;
  padding: 5px 15px;
  font-family: inherit;
  /* display: block; */
  width: 40%;
  height: 32px;
}

.date {
  color: #333;
  font-size: 16px;
  font-family: inherit;
  /* padding: 0 10px; */
  height: 32px;
  width: 150px;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 700px;
}

select {
  /* appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; */
  /* border: none; */
  color: #333;
  font-size: 16px;
  font-family: inherit;
  /* padding: 0 10px; */
  height: 32px;
  width: 150px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 1000px;
}
table tr:hover {
  background-color: #d4f0fd;
}
/* table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
} */

.inner {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 450px;
}

label {
  font-size: 16px;
  font-family: inherit;
  /* width: 140px;
  height: 50px;
  margin: 10px;
  padding: 7px 10px;
  background: #ccc; */
}
